.price {
  margin: 16px 0;

  font-weight: 700;
  line-height: 100%;
}

.price::before {
  content: "$";
}

.xs {
  font-size: 32px;
}

@media (max-width: 480px) {
  .xs {
    font-size: 26px;
  }
}

.sm {
  font-size: 16px;
}

.accent {
  color: var(--primary);
}
