.button {
  display: inline-block;

  box-sizing: border-box;
  padding: 4px 18px;

  cursor: pointer;

  transition: all 0.2s;

  border: none;
  border-radius: 20px;

  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  text-align: center;

  color: var(--white);
}

.primary {
  background-color: var(--primary);
}

.primary:hover {
  background-color: var(--black);
}

.inCart {
  display: flex;
  align-items: center;
  background-color: var(--black);
}

.inCart:hover {
  background-color: var(--primary);
}

.inCart::before {
  content: "";
  margin-right: 10px;
  width: 22px;
  height: 17px;
  background-image: url("icons/in-cart-icon.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.arrow {
  display: block;

  padding: 0;

  width: 32px;
  height: 32px;

  background-repeat: no-repeat;
  background-position: center;
}

.left {
  background-image: url("icons/arrow-left.svg");
}

.right {
  background-image: url("icons/arrow-right.svg");
}
