.button {
  display: inline-block;

  box-sizing: border-box;
  padding: 4px 18px;

  cursor: pointer;

  transition: all 0.2s;

  border: none;
  border-radius: 20px;

  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  text-align: center;

  color: var(--white);
}

.primary {
  background-color: var(--primary);
}

.primary:hover {
  background-color: var(--black);
}

.ghost {
  color: var(--black);
  border: 1px solid var(--gray-light);
  background-color: transparent;
}

.ghost:hover {
  color: var(--white);
  background-color: var(--primary);
}

.arrow {
  display: inline-block;

  margin-left: 10px;
}
